
body {
    background-image: url("../img/backgrounds/1.jpg")  repeating-linear-gradient();
    font-weight: 300;
    color: #fff;
    text-align: center;
}


/*Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float:left;
    }

/* Change the link color to #111 (black) on hover */
li a:hover:not(.Login .Logout .active) {
    background-color: #111;
    }

.Login {
    background-color: #084E89;
}

.Logout {
    background-color: #084E89;
}

.active {
    background-color: #4CAF50;
}
/*Navigation Bar*/


a, a:hover, a:focus {
	color: #42bfc2;
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.ProfileIco {
    background-color: #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    margin-top: 4px;
    width: 40px;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}


h2 {
	margin-top: 10px;
	font-size: 42px;
    font-weight: 100;
    line-height: 54px;
}

img { max-width: 100%; }

table {
	width: 30%;
	padding: 15px;
	text-align: center;
    margin: 0 auto;
}

table #name{
    text-align: left;
    padding-left: 1vw; 
}

tr:hover {
    background-color: darkgrey;
    font-size: 32px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

::-moz-selection { background: #42bfc2; color: #fff; text-shadow: none; }
::selection { background: #42bfc2; color: #fff; text-shadow: none; }


/***** Mainbody *****/
.title {
    font-size: 32px;
}

.mainbody {
    margin: 0 auto;
}

.inner-bg {
    padding: 75px 0 40px 0;
}

.mainbody .logo {
    padding-bottom: 2.5vh;
}

.mainbody .logo h1 {
    margin: 20px;
}

.mainbody .logo p {
    margin: 20px;
}

.mainbody .logo a {
	display: inline-block;
	width: 88px;
	height: 105px;
	background: url(../img/logo.png) center center no-repeat;
	text-indent: -99999px;
}
.mainbody .logo a:focus { outline: 0; }


.mainbody p {
	margin: 60px 0 10px 0;
	padding: 3vh 3vw;
    font-size: 22px;
    line-height: 36px;
}


/*search bar*/

input {
    outline: none;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid black;
}

::-webkit-input-placeholder { /* Chrome */
    color: silver;
    opacity: 0.5;
    transition: opacity 250ms ease-in-out;
}

:focus::-webkit-input-placeholder {
    opacity: 0.2;
}

:-ms-input-placeholder { /* IE 10+ */
    color: silver;
    opacity: 0.5;
    transition: opacity 250ms ease-in-out;
}

:focus:-ms-input-placeholder {
    opacity: 0.2;
}

::-moz-placeholder { /* Firefox 19+ */
    color: silver;
    opacity: 0.5;
    transition: opacity 250ms ease-in-out;
}

:focus::-moz-placeholder {
    opacity: 0.2;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    color: silver;
    opacity: 0.5;
    transition: opacity 250ms ease-in-out;
}

:focus:-moz-placeholder {
    opacity: 0.2;
}

/*Pagination*/


.pagination .content {
    width: 90vw;
    text-align: left;
    margin: 3vh 3vw;
    font-size: 25px;
    align-content: flex-start;
}


.pagination .content a {
    display:block;
    white-space: nowrap; 
    width: 90vw; 
    text-overflow: ellipsis;
    overflow: hidden;
    
}

.pagination .content a:link {
    color: honeydew;
}

.pagination .content a:visited {
    color:darkcyan;
}

.pagination .content a:hover {
    font-size: 25px;
    text-decoration: underline;
    background-color: ButtonHighlight;
}

/*results*/
.pagination .content p {
    font-size: 25px;
}

.pagination .content b {
    font-size: 25px;
}

.pagination .content #sum {
    text-align: center;
}

.pagination .content img {
    vertical-align: top;
}

.pagination .content .result_pic {
    background-color: #fff;
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 20px;
    width: 200px;
    height: 200px;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    object-fit: cover;
    object-position: top left;
    clear: left;
}



/*History Table*/

.history {
    font-size: 25px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.history p{
    font-size: 35px;
}


.historyList {
	font-size: 25px;
    margin: 0 auto;
    margin-bottom: 130px;
}

/*Word Count & Recent Search*/
.recentSearch {
    font-size: 25px;
    margin-bottom: 30px;
}

.back {
    padding-bottom:160px;
}

.back button {
    padding:10px;
}

    /***** Footer *****/
footer {
	margin-top: 20px;
	padding: 20px 0 15px 0;
	background: #3d3d3d;
	background: rgba(61, 61, 61, 0.3);
	position: fixed;
	bottom:0;
}

.footer-copyright p {
	margin: 0;
	font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-align: left;
}




